body {
  margin: 0;
  font-family: 'Karla', sans-serif;
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Karla', sans-serif;

}

.navbar{
  font-family: 'Karla', sans-serif;
}
.footer{
  font-family: 'Karla', sans-serif;
}
.home{
  font-family: 'Karla', sans-serif;
}

.margin-top-footer{
  margin-top: 32%;
}
.margin-top-form{
  margin-top: 10%;
}

.navbar-title{
  font-weight: bold;
  font-size: 2.5em !important;

}

.select-width{
  width: 100%;
  height: 40px;
}